extends /layout/_default-layout

block content-block

  include /page/includes/header

  .pages
    .pages-container.pages-container--center
      iframe.form(src="https://docs.google.com/forms/d/e/1FAIpQLSetp_kE0p2Nx4Pz3nBxwVk8oDzID5Qt800F1xpvGVh9pDhfEg/viewform?embedded=true" height="1250" frameborder="0" marginheight="0" marginwidth="0")
        | 読み込んでいます...

  include /page/includes/footer