extends /layout/_default-layout

prepend config-block
  - page_name = ''

//- append stylesheet-block

//- append javascript-block

block content-block
  header(class="header")
    img(src="/img/logo.png" class="header-img")
  .hero
    img(src="/img/hero.png" class="hero-img")

  include includes/introduction.pug
  include includes/features.pug
  include includes/share.pug
  include includes/footer.pug








