extends /layout/_default-layout

prepend config-block
  - page_name = ''

append stylesheet-block
  link(rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css")

//- append javascript-block

block sns-block
  #fb-root
  script(type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async")
  script(src='/js/sns.js')

block content-block
  include includes/header.pug
  .hero

  include includes/introduction.pug
  include includes/features.pug
  include includes/share.pug
  include includes/footer.pug








