extends /layout/_default-layout

block content-block

  include /page/includes/header

  .pages
    .pages-container

      p.title
        | 特定商取引法に基づく表記

      section.section
        .section-title.section-title--left
          | 代表者
        .section-content
          | 岡室 庄悟

      section.section
        .section-title.section-title--left
          | 所在地
        .section-content
          | 神奈川県横浜市保土ケ谷区西久保町165フィオーレ横浜South204号

      section.section
        .section-title.section-title--left
          | お問合せ先
        .section-content
          | info@okamu.ro

      section.section
        .section-title.section-title--left
          | 役務内容
        .section-content
          | アプリ上でのサービス提供

      section.section
        .section-title.section-title--left
          | 販売価格
        .section-content
          | コンテンツにより異なります。購入手続きの際に表示される金額をご確認ください。

      section.section
        .section-title.section-title--left
          | お支払い方法・時期
        .section-content
          | App Storeに準じます。

      section.section
        .section-title.section-title--left
          | 役務の提供時期
        .section-content
          | 購入取引完了後、直ちにご利用いただけます。

      section.section
        .section-title.section-title--left
          | 役務提供後における返金
        .section-content
          | 販売形態の性質上、役務提供後の返金には応じられません。
        .section-content
          | ※ 特定商取引法上のクーリング・オフが適用されるサービスではありません。
        .section-content
          | ※ 契約期間中にご利用をされなかった場合も日割精算等は行いません。

      section.section
        .section-title.section-title--left
          | 動作環境
        .section-content
          | App Storeに記載の内容に準じます。

  include /page/includes/footer
