extends /layout/_default-layout

block content-block

  header.point-header
    img.point-header__title(src="/img/points/h1_point-top.png")

  .point
    .point__title
      | ご希望のCinderellaポイントを選んでください。
    .point-purchase__container
      .point-purchase
        .point-purchase__coin
          img.point-purchase__coin--image(src="/img/points/point_90px.png")
        .point-purchase__number
          img.point-purchase__number--image(src="/img/points/100point.png")
        .point-purchase__button
          img.point-purchase__button--image(src="/img/points/btn_purchase1000.png")
      .point-purchase
        .point-purchase__coin
          img.point-purchase__coin--image(src="/img/points/point_90px.png")
        .point-purchase__number
          img.point-purchase__number--image(src="/img/points/300point.png")
        .point-purchase__button
          img.point-purchase__button--image(src="/img/points/btn_purchase3000.png")
      .point-purchase
        .point-purchase__coin
          img.point-purchase__coin--image(src="/img/points/point_90px.png")
        .point-purchase__number
          img.point-purchase__number--image(src="/img/points/500point.png")
        .point-purchase__button
          img.point-purchase__button--image(src="/img/points/btn_purchase5000.png")
      .point-purchase
        .point-purchase__coin
          img.point-purchase__coin--image(src="/img/points/point_90px.png")
        .point-purchase__number
          img.point-purchase__number--image(src="/img/points/1000point.png")
        .point-purchase__button
          img.point-purchase__button--image(src="/img/points/btn_purchase10000.png")
      img.point-usage__button--image(src="/img/points/btn_process.png")
  include /page/includes/footer