.footer {
  background-color: $bg-color-footer;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  & p {
    color: white;
  }
  @include pc-layout {
    padding: 20px $padding-horizontal-feature;
    height: $height-footer;
  }
  @include sp-layout {
    padding: 20px $padding-horizontal-feature-sp;
  }
}

.footer__menu {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  @include sp-layout {
    flex-direction: column;
  }
}

.footer__copyright {
  text-align: center;
}
