.header {
  position: relative;
  background: url('/img/logo.png') no-repeat center left;
  @include pc-layout {
    margin: 0 $padding-container 0 $padding-container;
    height: $height-header;
    background-size: 25vh;
  }
  @include sp-layout {
    margin: 0 $padding-container 0 $padding-container/2;
    height: $height-header*0.5;
    background-size: 20vh;
  }
}

.hero {
  background: url('/img/hero.png') no-repeat center center;
  height: 40vw;
  @include pc-layout {
    background-size: contain;
  }
  @include sp-layout {
    background-size: 150%;
  }
}
