.container {
  padding: 100px $padding-container 100px $padding-container;
}

.section {
  padding-bottom: $padding-vertical-small;
}

.title {
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
  padding-bottom: 30px;
}

.section-title {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  padding-bottom: 20px;
}

.section-content {
  line-height: 2;
  font-size: 1.1em;
}