.features
  .decoration.decoration--right.animate(data-type='deco')
  .features__container
    .feature__title
      p.text-title
        | シンデレラの特徴
    .feature__icons
      .feature__icons-container.animate
        img(src="/img/icon-assets/icon01.png" class="feature-icon")
        .feature-icon-caption
          p.feature-icon-caption-title.text-content
            | 1日1回無料で運命の出会い
          p.text-content
            | 1日1回あなたに訪れる
          p.text-content
            | シンデレラタイムが
          p.text-content
            | 特別な魔法をかけてくれます
      .feature__icons-container.animate
        img(src="/img/icon-assets/icon02.png" class="feature-icon")
        .feature-icon-caption
          p.feature-icon-caption-title.text-content
            | シンデレラ系は内面重視系
          p.text-content
            |「王子様とお姫様」が舞踏会で偶然恋に落ちるような
          p.text-content
            | シンデレラストーリーが生まれる秘密があります
      .feature__icons-container.animate
        img(src="/img/icon-assets/icon03.png" class="feature-icon")
        .feature-icon-caption
          p.feature-icon-caption-title.text-content
            | シンデレラタイムは24時まで
          p.text-content
            | 19時〜24時の「5時間限定」
          p.text-content
            | 24時を過ぎると魔法が解けてしまいます
          p.text-content
            | チャンスは5時間です!!
    .feature__invite.animate
      p.text-title
        | さあ、あなたも舞踊会に参加しませんか？
    br
    .feature__about-app
      .feature__about-app--image-container.animate
        a(target="_blank" href="https://itunes.apple.com/jp/app/%E6%96%B0%E6%84%9F%E8%A6%9A-%E3%82%B7%E3%83%B3%E3%83%87%E3%83%AC%E3%83%A9%E7%B3%BB%E3%83%9E%E3%83%83%E3%83%81%E3%83%B3%E3%82%B0%E3%82%A2%E3%83%97%E3%83%AA-1%E6%97%A51%E5%9B%9E%E9%81%8B%E5%91%BD%E3%81%AE%E5%87%BA%E4%BC%9A%E3%81%84/id1352776590?l=ja&ls=1&mt=8")
          img(src="/img/ogp.jpg" class="feature__about-app--image")
      .feature__pre-registration.animate
        .feature__pre-registration-text
          p.text-title
            | アプリ公開中
          p.text-content
            | ＼ ダウンロードはこちら ／
        .feature__pre-registration-app-stores--container
          a(target="_blank" href="https://itunes.apple.com/jp/app/%E6%96%B0%E6%84%9F%E8%A6%9A-%E3%82%B7%E3%83%B3%E3%83%87%E3%83%AC%E3%83%A9%E7%B3%BB%E3%83%9E%E3%83%83%E3%83%81%E3%83%B3%E3%82%B0%E3%82%A2%E3%83%97%E3%83%AA-1%E6%97%A51%E5%9B%9E%E9%81%8B%E5%91%BD%E3%81%AE%E5%87%BA%E4%BC%9A%E3%81%84/id1352776590?l=ja&ls=1&mt=8")
            img(src="/img/btn_app_store.png" class="feature__pre-registration-app-stores--image")

