.features
  .features__container
    .feature__title
      p.text-title
        | アプリの特徴
    .feature__icons
      .feature__icons-container.animate
        img(src="/img/icon-assets/icon01.png" class="feature-icon")
        .feature-icon-caption
          p.feature-icon-caption-title.text-content
            | 1日1回の運命の出会い
          p.text-content
            | 1日1回あなたに訪れる
          p.text-content
            | シシンデレラタイムが
          p.text-content
            | 特別な魔法をかけてくれます
      .feature__icons-container.animate
        img(src="/img/icon-assets/icon02.png" class="feature-icon")
        .feature-icon-caption
          p.feature-icon-caption-title.text-content
            | シンデレラ系
          p.text-content
            |「王子様とお姫様」が舞踏会で偶然恋に落ちるような
          p.text-content
            | シンデレラストーリーが生まれます
      .feature__icons-container.animate
        img(src="/img/icon-assets/icon03.png" class="feature-icon")
        .feature-icon-caption
          p.feature-icon-caption-title.text-content
            | シンデレラタイムは24時まで
          p.text-content
            | 19時〜24時の5時間限定
          p.text-content
            | 時間が過ぎると魔法が解けてしまいます
    .feature__invite.animate
      p.text-title
        | さあ、あなたも舞踊会に参加しませんか？
    br
    .feature__about-app
      .feature__about-app--image-container.animate
        img(src="/img/ogp.png" class="feature__about-app--image")
      .feature__pre-registration.animate
        .feature__pre-registration-text
          p.text-title
            | リリース予定
          p.text-content
            | 2018年秋頃
          p.text-content
            | ＼ ダウンロードはこちら ／
        //- .feature__pre-registration-button--container
        //-   a(href="https://docs.google.com/forms/d/e/1FAIpQLSeTYcbjmEFM4fe6yTzQa8pnyhpHVMZFB_Y7oDz4k5iHDHvEjQ/viewform?usp=sf_link")
        //-     img(src="/img/btn_regist.png"  class="feature__pre-registration-button--image")
        .feature__pre-registration-app-stores--container
          a(href="https://itunes.apple.com/jp/app/%E3%82%B7%E3%83%B3%E3%83%87%E3%83%AC%E3%83%A9-1%E6%97%A51%E5%9B%9E%E3%81%AE%E9%81%8B%E5%91%BD%E3%81%AE%E5%87%BA%E4%BC%9A%E3%81%84%E3%81%8C%E5%BF%85%E3%81%9A%E8%A8%AA%E3%82%8C%E3%82%8B/id1352776590?l=ja&ls=1&mt=8")
            img(src="/img/btn_app_store.png" class="feature__pre-registration-app-stores--image")
          //- a
          //-   img(src="/img/btn_google_play.png" class="feature__pre-registration-app-stores--image")
