.features
  .features__container
    .feature__title
      p.text-title
        | アプリの特徴
    .feature__icons
      .feature__icons-container.animate
        img(src="/img/icon.png" class="feature-icon")
        .feature-icon-caption
          p.feature-icon-caption-title.text-content
            | 魔法のシンデレラタイム
          p.text-content
            | 1日1回魔法の力でマッチングします。
          p.text-content
            | また、プロフィールにも魔法がかかり美しく輝くことができます。
          p.text-content
            | 0時になると魔法が解けてしまいます。
      .feature__icons-container.animate
        img(src="/img/icon.png" class="feature-icon")
        .feature-icon-caption
          p.feature-icon-caption-title.text-content
            | プリペイド制でゆっくり使える
          p.text-content
            | 月額登録なし！
          p.text-content
            | メッセージも送り放題！
      .feature__icons-container.animate
        img(src="/img/icon.png" class="feature-icon")
        .feature-icon-caption
          p.feature-icon-caption-title.text-content
            | 安心安全
          p.text-content
            | このアプリはリア充カップル２人で制作しました。
          p.text-content
            | 個人情報などを別の目的では使用しません。
          p.text-content
            | もちろん、サクラもいません。
    .feature__invite.animate
      p.text-title
        | さあ、あなたも舞踊会に参加しませんか？
    br
    .feature__text-content.animate
      p.text-content
        | 事前予約をしていただいた方から抽選で、
      p.text-content
        | アマゾンギフト券をプレゼントします。
    .feature__about-app
      .feature__about-app--image-container.animate
        img(src="/img/demo.png" class="feature__about-app--image")
      .feature__pre-registration.animate
        .feature__pre-registration-text
          p.text-title
            | リリース予定
          p.text-content
            | 2018年秋頃
          p.text-title
            | ＼ 事前登録受付中！ ／
        .feature__pre-registration-button--container
          a(href="https://docs.google.com/forms/d/e/1FAIpQLSeTYcbjmEFM4fe6yTzQa8pnyhpHVMZFB_Y7oDz4k5iHDHvEjQ/viewform?usp=sf_link")
            img(src="/img/btn_regist.png"  class="feature__pre-registration-button--image")
        .feature__pre-registration-app-stores--container
          a
            img(src="/img/btn_app_store.png" class="feature__pre-registration-app-stores--image")
          //- a
          //-   img(src="/img/btn_google_play.png" class="feature__pre-registration-app-stores--image")
