footer(class="footer")
  .footer__menu
    p.text-footer
      a(href="/contact.html")
        | お問い合わせ
    p.text-footer
      a(href="/privacy.html")
        | プライバシーポリシー
    p.text-footer
      a(href="/terms.html")
        | 利用規約
    p.text-footer
      a(href="/law.html")
        | 特定商取引法に基づく表記
    p.text-footer
      a(href="#")
        | 事前登録
  .footer__copyright
    p.text-footer
      | © Cinderella 2018
