footer(class="footer")
  .footer__menu
    p.text-footer
      a(href="#")
        | お問い合わせ
    p.text-footer
      a(href="#")
        | プライバシーポリシー
    p.text-footer
      a(href="#")
        | 利用規約
    p.text-footer
      a(href="#")
        | 事前登録
  .footer__copyright
    p.text-footer
      | © Cinderella 2018
