.introduction
  img(src="/img/effect.png" class="introduction__effect introduction__effect--top")
  img(src="/img/effect-right.png" class="introduction__effect introduction__effect--bottom")
  .introduction__container
    img(src="/img/ornament-left.png" class="introduction__ornament")
    .introduction__content
      .introduction__disclaimer
        p.text-title
          | 出会い系じゃない！
        p.text-content
          | シンデレラ系という
        p.text-content
          | 新しいジャンルのマッチングサービス
      .introduction__explanation
        p.text-title
          | シンデレラ系は？
        p.text-content
          | 出会いを目的するわけではなく
        p.text-content
          | 舞踊会に参加した「王子様と姫様」が
        p.text-content
          | 偶然恋に落ちるような
        p.text-content
          | シンデレラストーリーが生まれることである
    img(src="/img/ornament-right.png" class="introduction__ornament")
