.introduction
  img(src="/img/effect.png" class="introduction__effect introduction__effect--top")
  img(src="/img/effect-right.png" class="introduction__effect introduction__effect--bottom")
  .introduction__container
    .introduction__content
      .introduction__explanation-content
        p.text-title
          | 1日1回の運命の出会い
        p.text-content
          | シンデレラタイムが1日1回あなたに訪れ
        p.text-content
          | プロフィール画像と一部に特別な魔法がかかります
      .introduction__explanation-content
        p.text-title
          | シンデレラ系
        p.text-content
          | 舞踏会に参加した「王子様とお姫様」が偶然恋に落ちるような
        p.text-content
          | シンデレラストーリーが生まれます
      .introduction__explanation-content
        p.text-title
          | 魔法のシンデレラタイムは0時まで
        p.text-content
          | 19時〜0時まではお互いのプロフィールに魔法がかかっていますが、
        p.text-content
          | 0時になると魔法が解けてしまいます。

