.introduction
  img(src="/img/effect.png" class="introduction__effect introduction__effect--top")
  img(src="/img/effect-right.png" class="introduction__effect introduction__effect--bottom")
  .introduction__container
    img(src="/img/ornament-left.png" class="introduction__ornament")
    .introduction__content
      .introduction__disclaimer
        p.text-title
          | 1日1回の運命の出会い
        p.text-content
          | シシンデレラ系という、1日1回だけ魔法がかかる
        p.text-content
          | 新しいジャンルのマッチングサービスです
      .introduction__explanation
        .introduction__explanation-content
          p.text-title
            | シンデレラ系とは
          p.text-content
            | 舞踏会に参加した「王子様とお姫様」が偶然恋に落ちるような
          p.text-content
            | シンデレラストーリーが生まれるマッチングのこと
        .introduction__explanation-content
          p.text-title
            | 魔法のシンデレラタイム
          p.text-content
            | - 1日1回、魔法の力でマッチングします。
          p.text-content
            | - 0時まではお互いのプロフィールに魔法がかかっており、内面からお互いを知ることで、誰でもシンデレラになることができます
    img(src="/img/ornament-right.png" class="introduction__ornament")
