.share
  .share__container
    .share__app-problem.animate
      p.text-title
        | このアプリにかける思い
      .share__app-problem-explanation
        p.text-content
          | 「相手の無責任な発信から嫌な思いをしてしまう」
        p.text-content
          | 「出会いのきっかけを聞かれたときに、出会い系だと恥ずかしい」
        p.text-content
          | 「怖い、犯罪に巻き込まれそう」
        p.text-content
          | 「積極的になったところでわたしなんか」
        p.text-content
          | などの問題を解決したいを強く思い、ここまで製作できました。
      .share__app-problem-explanation
        p.text-content
          | 私達は、何を言われようともこれから
        p.text-content
          | 本気で日本のマッチング概念を覆す施策を続け
        p.text-content
          | より多くの方への恩返しとして続けていければいいと思っています
      .share__app-problem-explanation
        p.text-content
          | みなさん、もっと幸せになっていいはずなんですよ。
    //- .share__pre-registration-text.animate
    //-   p.text-title
    //-     | リリース予定
    //-   p.text-content
    //-     | 2018年秋頃
    //-   p.text-title
    //-     | ＼ 事前登録受付中！ ／
    //-     .share__pre-registration-button--container
    //-       a(href="https://docs.google.com/forms/d/e/1FAIpQLSeTYcbjmEFM4fe6yTzQa8pnyhpHVMZFB_Y7oDz4k5iHDHvEjQ/viewform?usp=sf_link")
    //-         img(src="/img/btn_regist.png"  class="share__pre-registration-button--image")
    

    .share__support.animate
      p.text-title
        | 応援してくださる方
      p.text-content
        | はてブ、いいね、シェアしていただけると幸いでございます。
      p.text-content
        | info@cinderella-castle.com メールでお伺いいたします。
    .share__sns-buttons.animate
      a.twitter-share-button(href="https://twitter.com/intent/tweet")
      .fb-share-button(data-href="https://cinderella-castle.com" data-layout="button_count")
      a.hatena-bookmark-button(href="http://b.hatena.ne.jp/entry/" class="" data-hatena-bookmark-layout="basic-label-counter" data-hatena-bookmark-lang="ja" title="このエントリーをはてなブックマークに追加")
        img(src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;")
