
@keyframes slideLeft {
    0% {
        width: 0;
        opacity: 0;
    }
    100% {
        width: 883px;
        opacity: 1;
    }
}

@keyframes slideLeftSp {
    0% {
        width: 0;
        opacity: 0;
    }
    100% {
        width: (883px / 3);
        opacity: 1;
    }
}

@keyframes slideRight {
    0% {
        width: 0;
        opacity: 0;
    }
    100% {
        width: 960px;
        opacity: 1;
    }
}

@keyframes slideRightSp {
    0% {
        width: 0;
        opacity: 0;
    }
    100% {
        width: (960px / 3);
        opacity: 1;
    }
}
