$pc_min_width: 800px;

// see /src/constants.yml
$img_dir: '/img/';

$bg-dir: '/img/bg.png';

$color-text-heading: #176461;
$color-text-shadow: rgba(0, 53, 51, 0.4);

$bg-color-section: #e7f2f2;
$bg-color-footer: #47999c;

$font-std-size: 18pt;
$font-title-size: 22pt;
$font-footer-size: 14pt;
$font-copyright: 10pt;

$padding-container: 270px;
$padding-container-plus-content: 370px;
$padding-feature: 150px 100px 150px 100px;

$padding-vertical-per-section: 120px;
$padding-vertical-large: 150px;
$padding-vertical-small: 50px;
$padding-vertical-footer: 150px;

$height-header: 120px;
$height-footer: 130px;